.container-fluid {
    padding: 0;
}

.container-fluid>h1 {
    text-align: center;
}

section.strefa_czasowa {
    margin-top: 50px;
    background-color: black;
    color: white;
    margin: 10px;
    padding: 10px;
}

#glowny_naglowek {
    color: red;
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    section.strefa_czasowa {
        background-color: green;
    }

}