.container-fluid {
    padding: 0;
}

.container-fluid>h1 {
    text-align: center;
}

section.strefa_czasowa {
    border-radius: 10px;
    margin-top: 50px;
    background-color: black;
    color: white;
    margin: 10px;
    padding: 10px;
}

/* TASK 3: CSS pseudo-class */
section.strefa_czasowa:hover {
    opacity: 0.5;
}

/* TASK 3: CSS pseudo-element */
::selection {
    color: red;
    background: rgb(21, 255, 0);
}

#glowny_naglowek {
    color: rgb(44, 8, 202);
}

/* TASK 2 */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(107, 107, 107);
    color: white;
    text-align: center;
}

/* TASK 3: CSS combinator */
footer>p {
    font-style: italic;
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    section.strefa_czasowa {
        background-color: green;
    }

}